<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel='stylesheet' href="/stylesheets/bootstrap/css/bootstrap.min.css" />
  <link rel='stylesheet' href="/stylesheets/fontawesome/css/all.min.css" />
  <link rel='stylesheet' href="/stylesheets/snackbar.min.css" />
  <link rel='stylesheet' href="/stylesheets/material.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/images/favicon.ico">
  <title>simple crud</title>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
      <i class="far fa-user-circle"></i>&nbsp; simple crud
    </nav>
  </header>

  {{{body}}}

  <script src="/javascripts/jquery/jquery.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/snackbar.min.js"></script>
  <script src="/javascripts/custom.js"></script>

  {{{_sections.js-block}}}

  <footer class="footer d-none d-sm-block">
    <div class="container">
      <a href="/api-docs"><img src="/images/swagger-logo.png" height="32" />&nbsp;<span class="text-muted">documentazione api</span></a>
    </div>
  </footer>

</body>

</html>
