body {
  margin: 50px auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  width: 100%;
  max-width: 660px;
  padding: 15px;
  margin: 0 auto;
}

[data-href] {
  cursor: pointer;
}

.snackbar.error {
  border-left: 40px solid #e74c3c;
}

.snackbar.warning {
  border-left: 40px solid #f4d313;
}

.snackbar.info {
  border-left: 40px solid #3498db;
}

.snackbar.success {
  border-left: 40px solid #58d68d;
}
